@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "DIN Pro";
	src: url(".../fonts/DINPro/DINPro.eot");
	src: url("../fonts/DINPro/DINPro.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/DINPro/DINPro.eot") format("woff"),
			 url("../fonts/DINPro/DINPro.eot.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

