/*=====
   Base styles: opinionated defaults
===== */

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro.eot');
  src: url('../fonts/DINPro/DINPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro.woff') format('woff'),
    url('../fonts/DINPro/DINPro.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro-Bold.eot');
  src: url('../fonts/DINPro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --color1: #4e4d53;
  --color2: #222222;
  --accent: #f47821;
  --btn-color: rgba(135, 135, 135, 0.05);
  --fon-light: #f7f5fa;
  --fon-dark: #161616;
  --font-size: 16px;
  --ffRob: 'Roboto', sans-serif;
  --ffDIN: 'DINPro', sans-serif;
  --ffGl: 'Gilroy', sans-serif;
  /* padding left-right */
  --padd: 12px;
}

html {
  color: var(--color1);
  font-size: var(--font-size);
  line-height: 26px;
  font-family: var(--ffRob);
}
.main-container {
  position: relative;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ffDIN);
}
h1 {
  font-size: 48px;
  line-height: 54px;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
}
h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
h5 {
  font-size: 12px;
  line-height: 19px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
}
::selection {
  background: transparent !important;
  background-color: transparent !important;
  outline: none;
  outline-color: transparent;
  border: none;
}
::-moz-selection {
  background: transparent !important;
  background-color: transparent !important;
  outline: transparent !important;
}

/*===== Custom styles =============== */

/* === Header section style */
.header {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--padd);
  padding-left: var(--padd);
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-block h1 {
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--color2);
  margin-bottom: 22px;
  word-wrap: break-word;
}
.header-block p {
  margin-bottom: 30px;
  text-align: center;
}
.header-block p span {
  color: var(--accent);
}
.button-block {
  display: flex;
  align-items: center;
  position: relative;
}
.button-block:hover .cirkle {
  width: 240px;
  transition: 0.35s ease;
}
.button-block button {
  font-family: var(--Gl);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.cirkle {
  position: absolute;
  left: -44px;
  width: 54px;
  height: 54px;
  border-radius: 111px;
  background-color: var(--btn-color);
  transition: 0.35s ease;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.cirkle svg {
  fill: var(--accent);
}
@media (max-width: 630px) {
}

/* === HERO section style === */
.hero-img {
  background-image: url('./../images/image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

/* ===  Questions Section Style === */
.questions {
  background-color: var(--fon-light);
  height: 445px;
  position: relative;
  display: flex;
  justify-content: center;
}
.questions-blocks {
  display: flex;
  position: relative;
  top: -99px;
  flex-wrap: wrap;
  max-width: calc(486px * 2);
}

.question-block {
  min-width: 486px;
  flex-basis: 50%;
  height: 232px;
  border: 1px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.question {
  max-width: 356px;
}
.question-block h5 {
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 12px;
}
.question-block p {
  font-family: var(--ffDIN);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: var(--color2);
}
@media (max-width: 980px) {
  .questions {
    height: auto;
  }
  .questions-blocks {
    width: 80%;
  }
  .question-block {
    min-width: 100%;
  }
  .question {
    padding-left: var(--padd);
    padding-right: var(--padd);
  }
}
/* === Similars Section Style === */
.similars {
  padding-top: 80px;
  padding-bottom: 100px;
}
.similars .wrapper {
  max-width: 772px;
}
.similars-content h1 {
  margin-bottom: 24px;
}
.similars-content p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
@media (max-width: 980px) {
  .similars .wrapper {
    padding-left: var(--padd);
    padding-right: var(--padd);
  }
}
@media (max-width: 740px) {
  .similars {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* === Benefits Section Style === */
.benefits {
  padding-top: 120px;
  padding-bottom: 160px;
  background-color: var(--fon-light);
}
.benefits .wrapper {
  max-width: 1140px;
}
.benefits-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits h2 {
  text-align: center;
  margin-bottom: 60px;
}
.benefit-block {
  flex-basis: 326px;
}
.line {
  width: 24px;
  height: 2px;
  background-color: var(--accent);
  margin-top: 22px;
  margin-bottom: 27px;
}
@media (max-width: 980px) {
  .benefit-block {
    flex-basis: 100%;
    padding-left: var(--padd);
    padding-right: var(--padd);
    margin-bottom: 24px;
  }
}
@media (max-width: 740px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .benefits h2 {
    margin-bottom: 45px;
  }
  .line {
    margin-top: 16px;
    margin-bottom: 18px;
  }
}
/* === Form === */
.footer {
  background-color: var(--fon-dark);
  padding-top: 100px;
  padding-bottom: 120px;
  color: #ffffff;
}
.footer .wrapper {
  max-width: 668px;
}
.footer h2 {
  text-align: center;
  margin-bottom: 60px;
}
.group-input {
  position: relative;
}
.group-input + .group-input {
  margin-top: 48px;
}
.check-input {
  font-family: var(--ffRob);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.01em;
  padding: 12px 0;
  width: 575px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(247, 248, 250, 0.1);
  color: #ffffff;
}

.group-input .item {
  position: absolute;
  left: -92px;
  top: -19px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__digit {
  color: var(--accent);
  font-family: var(--ffRob);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

/* --- placeholder styling --- */
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::placeholder {
  opacity: 0.3;
  color: #fff;
}

.group-input label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: -0.01em;
}

.group-button button {
  font-family: var(--ffGL);
  font-weight: 800;
  color: var(--accent);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 111px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  width: 574px;
  height: 54px;
  transition: 0.35s ease;
  cursor: pointer;
}
.group-button button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.35s ease;
}

input:focus,
textarea:focus {
  outline: none;
}
/* style for error messages. */
.error {
  color: white;
  background-color: #900;
  /* border-radius: 0 0 5px 5px; */

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error:focus {
  background-color: transparent;
}

/* Message for form sending   */
.modal {
  display: none;
}
.modal-show  {
  display: block;
  color: greenyellow;
  /* z-index: 2; */
  /* position: absolute; */
  /* top: 50%; */
}
.overlay {
  display: none;
}
.overlay-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 960px) {
  .form {
    padding-left: 10%;
  }
}
@media (max-width: 740px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer h2 {
    margin-bottom: 40px;
    padding-left: var(--padd);
    padding-right: var(--padd);
  }
  .group-input .item {
    width: 40px;
    height: 40px;
    /* left: -52px;
    top: -7px; */
    left: 0;
    top: -44px;
  }
  .group-input,
  .check-input,
  .group-button button {
    width: 95%;
  }
  .group-input + .group-input {
    margin-top: 80px;
  }
  .group-input:last-child {
    margin-top: 40px;
  }
  textarea {
    min-height: 130px;
  }
}
